header{
    padding: 20px;
    border-bottom: 1px solid #000;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
}
section{
    border-radius: 20px;
    padding: 0 7px;
}
section .sub_title{
    padding-top: 70px;
    text-align: center;
}
section .sub_title p{
    font-family: 'SUITE-Regular';
    font-size: 23px;
    letter-spacing: 2px;
    border-bottom: 2px solid #000;
    display: inline-block;
}
section .img_list{
    margin-top: 30px;
    display: flex;
    gap: 7px;
}
section .img_list span{
    flex-basis: 50%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #000;
}
section img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
/* 우승시  */
.winner {
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px 5px;
}
.winner_info{
    text-align: center;
    padding: 10px 0;
}
.winner_info p{
    font-family: 'SUITE-Regular';
    font-size: 23px;
    letter-spacing: 2px;
}
.winner_info p span{
    border-bottom: 2px solid #000;
}

@media all and (max-width:360px) {
    section .img_list span{
        min-height: 216px;
        max-height: 216px;
    }
}